{% extends 'template.html' %}
{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
          <figure class="img thumbnail col-md-4">
              <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}">
              <figcaption>
                  <label class="fileContainer">
                      Mudar Capa
                      <input type="file" class="form-control" name="arquivo" accept=".jpg">
                  </label>
              </figcaption>
          </figure>
        
        <fieldset>
          <input type="hidden" name="id" value="{{ jogo.id }}">
          <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.categoria.label(class="form-label") }}
            {{ form.categoria(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.console.label(class="form-label") }}
            {{ form.console(class="form-control") }}
          </div>
          <div>
            {{ form.salvar(class="btn btn-primary") }}
          </div>
          <a href="http://127.0.0.1:5000/"> <button type="button" class="btn btn-danger">Menu</button> </a>
        </fieldset>
      </form>
  {% endblock %}